html, body, #root{
    height: 100%;
    background-color: #141414 !important;
}

#appTitle:hover{
    color: #ccc;

}

nav.sc-ifAKCX{
    background-color: #232323 !important;
    border-radius: 0 0 7px 7px;
    padding: 0 1rem;
}

textarea{
    margin: 5px;
}

.coverflow__container__2RGwF{
    background: none !important;
}

.sc-bZQynM{
    margin-top: 30px;
}

/* div > .sc-gzVnrw{
    padding-top: 42px;
} */

.sc-gzVnrw > div{
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #4a4949;
}


/*  ###########  HERO DISPLAY ############  */

#heroDisplay > div{
    position: relative;
}

.title-transition-enter,
.title-transition-appear {
  opacity: 0;
}
.title-transition-enter-done {
  opacity: 1;
  transition: all 1s;
  transition-delay: .3s;
}


.name-transition-enter,
.name-transition-appear {
  left: -1000px;
  width: 0;
  opacity: 0;
}
.name-transition-enter-done {
  left: 0;
  opacity: 1;
  transition: all 1s;
  transition-delay: .3s;
}



.desc-transition-enter,
.desc-transition-appear {
  opacity: 0;
}
.desc-transition-enter-done {
  opacity: 1;
  transition: all 1s;
}


.img-transition-enter,
.img-transition-appear {
  left: -1000px;
  width: 0;
  opacity: 0;
}
.img-transition-enter-done {
  left: 0;
  width: 512px;
  opacity: 1;
  transition: all 1s;
  transition-delay: .3s;
}